In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
numbers = [1, 2, 3, 4, 5]
total_sum = 0
for num in numbers:
    total_sum += num
print("Sum:", total_sum)

Sum: 15

In [3]:
string = "hello"
for char in reversed(string):
    print(char, end='')

olleh

In [4]:
number = 5
factorial = 1
for i in range(1, number + 1):
    factorial *= i
print("Factorial:", factorial)

Factorial: 120

In [5]:
num = 7
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Even count:", even_count)
print("Odd count:", odd_count)

Even count: 5
Odd count: 5

In [7]:
for i in range(1, 6):
    print(f"Square of {i} is {i ** 2}")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [8]:
string = "hello"
length = 0
for char in string:
    length += 1
print("Length:", length)

Length: 5

In [9]:
numbers = [1, 2, 3, 4, 5]
total_sum = 0
count = 0
for num in numbers:
    total_sum += num
    count += 1
average = total_sum / count
print("Average:", average)

Average: 3.0

In [10]:
n = 10
fib_sequence = []
a, b = 0, 1
for _ in range(n):
    fib_sequence.append(a)
    a, b = b, a + b
print("Fibonacci sequence:", fib_sequence)

Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [11]:
def contains_duplicates(lst):
    seen = []
    for item in lst:
        if item in seen:
            return True
        seen.append(item)
    return False

my_list = [1, 2, 3, 4, 2]
print("Contains duplicates:", contains_duplicates(my_list))

Contains duplicates: True

In [12]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

start = 10
end = 50
for num in range(start, end + 1):
    if is_prime(num):
        print(num, end=' ')

11 13 17 19 23 29 31 37 41 43 47

In [13]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

string = "hello world"
print("Number of vowels:", count_vowels(string))

Number of vowels: 3

In [14]:
def find_max_2d(lst):
    max_element = float('-inf')
    for row in lst:
        for element in row:
            if element > max_element:
                max_element = element
    return max_element

matrix = [[3, 5, 1], [4, 8, 6], [7, 2, 9]]
print("Maximum element:", find_max_2d(matrix))

Maximum element: 9

In [15]:
def remove_element(lst, element):
    result = []
    for item in lst:
        if item != element:
            result.append(item)
    return result

my_list = [1, 2, 3, 4, 2, 2, 5]
element_to_remove = 2
print("List after removal:", remove_element(my_list, element_to_remove))

List after removal: [1, 3, 4, 5]

In [16]:
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()  # Print a new line for better readability

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [17]:
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5.0/9.0

fahrenheit_temps = [32, 50, 77, 104]
celsius_temps = []
for temp in fahrenheit_temps:
    celsius_temps.append(fahrenheit_to_celsius(temp))

print("Celsius temperatures:", celsius_temps)

Celsius temperatures: [0.0, 10.0, 25.0, 40.0]

In [18]:
def common_elements(list1, list2):
    common = []
    for item in list1:
        if item in list2 and item not in common:
            common.append(item)
    return common

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
print("Common elements:", common_elements(list1, list2))

Common elements: [3, 4, 5]

In [19]:
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [20]:
def gcd(a, b):
    smallest = min(a, b)
    greatest_divisor = 1
    for i in range(1, smallest + 1):
        if a % i == 0 and b % i == 0:
            greatest_divisor = i
    return greatest_divisor

num1 = 54
num2 = 24
print("GCD:", gcd(num1, num2))

GCD: 6

In [21]:
numbers = [123, 456, 789]
sum_of_digits = [sum(int(digit) for digit in str(number)) for number in numbers]
print("Sum of digits:", sum_of_digits)

Sum of digits: [6, 15, 24]

In [22]:
def prime_factors(n):
    factors = []
    divisor = 2
    while n > 1:
        while n % divisor == 0:
            factors.append(divisor)
            n //= divisor
        divisor += 1
    return factors

number = 56
print("Prime factors:", prime_factors(number))

Prime factors: [2, 2, 2, 7]

In [23]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = list({item for item in my_list})
print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5]

In [24]:
limit = 200
palindromic_numbers = [num for num in range(1, limit + 1) if str(num) == str(num)[::-1]]
print("Palindromic numbers:", palindromic_numbers)

Palindromic numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

In [25]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_even = sum([num for num in numbers if num % 2 == 0])
sum_odd = sum([num for num in numbers if num % 2 != 0])
print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 30
Sum of odd numbers: 25

In [27]:
squares_of_odd = [num ** 2 for num in range(1, 11) if num % 2 != 0]
print("Squares of odd numbers:", squares_of_odd)

Squares of odd numbers: [1, 9, 25, 49, 81]

In [28]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
combined_dict = {keys[i]: values[i] for i in range(len(keys))}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

In [29]:
string = "hello world"
vowels = [char for char in string if char in "aeiouAEIOU"]
print("Vowels:", vowels)

Vowels: ['e', 'o', 'o']

In [30]:
strings = ['abc123', 'def456', '789ghi']
numeric_strings = [''.join(char for char in string if char.isdigit()) for string in strings]
print("Numeric strings:", numeric_strings)

Numeric strings: ['123', '456', '789']

In [31]:
def sieve_of_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False
    for start in range(2, int(limit**0.5) + 1):
        if sieve[start]:
            for multiple in range(start*start, limit + 1, start):
                sieve[multiple] = False
    return [num for num, is_prime in enumerate(sieve) if is_prime]

limit = 50
primes = sieve_of_eratosthenes(limit)
print("Primes up to", limit, ":", primes)

Primes up to 50 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [32]:
def pythagorean_triplets(limit):
    return [(a, b, c) for a in range(1, limit + 1) 
                      for b in range(a, limit + 1) 
                      for c in range(b, limit + 1) 
                      if a*a + b*b == c*c]

limit = 20
triplets = pythagorean_triplets(limit)
print("Pythagorean triplets up to", limit, ":", triplets)

Pythagorean triplets up to 20 : [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [33]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
combinations = [(x, y) for x in list1 for y in list2]
print("Combinations:", combinations)

Combinations: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [34]:
from statistics import mean, median, mode

numbers = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8]
mean_value = mean(numbers)
median_value = median(numbers)
mode_value = mode(numbers)

print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)

Mean: 4.7272727272727275
Median: 5
Mode: 6

In [35]:
def generate_pascals_triangle(rows):
    triangle = [[1]]
    for i in range(1, rows):
        row = [1] + [triangle[i-1][j-1] + triangle[i-1][j] for j in range(1, i)] + [1]
        triangle.append(row)
    return triangle

rows = 5
pascals_triangle = generate_pascals_triangle(rows)
for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]